{
    "parser": "babel-eslint",

    "extends": ["airbnb"],

    "globals": {
        "window": true,
        "document": true,
        "CustomEvent": true,
        "KeyboardEvent": true,
        "jest/globals": true
    },
    "rules": {
        "no-plusplus": "off",
        "prefer-destructuring": "off",
        "object-shorthand": "off",
        "comma-dangle": "off",
        "no-undef": "off",
        "no-restricted-globals": "off",
        "import/no-unresolved": "off",
        "linebreak-style": "off",
        "max-len": "off",
        "global-require": "off"
    }
}